<h2>Click on a Method to see an Example!</h2>

<ul class="heroes">
  <!-- ngFor is repeater directive, it repeats the host element for each element in a list -->
  <!-- <li *ngFor="let hero of heroes" 
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)"> -->
  <!-- event binding syntax -->
  <!-- <span class="badge">{{hero.id}}</span>{{hero.name}}
  </li> -->
  <li *ngFor="let hero of heroes">
    <a class='listItem' routerLink="/detail/{{hero.id}}">
      <span class='badge'>{{hero.id}}</span>{{hero.name}}
    </a>
  </li>
</ul>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>